src/main/mule/examplejenkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="eb3da7b6-52c9-489d-b741-31abbc093c8c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="examplejenkinsFlow" doc:id="883fc81b-2a35-4745-8715-6d5257754fad" >
		<http:listener doc:name="Listener" doc:id="caefa8c2-a3fa-4c14-bc0c-185061216537" config-ref="HTTP_Listener_config" path="/demo"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="355eef20-7fa2-44d4-99c2-d34df60286e5" />
		<logger level="INFO" doc:name="Logger" doc:id="741b618e-c702-4555-9515-55985e42f978" message="#[payload] jenkins demo]"/>
	</flow>
</mule>
